.circle-1 {
    animation: 3s linear rotate infinite;
    width:125px; /* you can use % */
    height: auto;
}
.circle-2 {
    animation: 3s linear rotate infinite;
    animation-direction: reverse;
    width:100px; /* you can use % */
    height: auto;
    margin-left: 12px;
    margin-top: 12px;
}
.circle-3 {
    animation: 3s linear rotate infinite;
    width:60px; /* you can use % */
    height: auto;
    margin-left: 31px;
    margin-top: 31px;
}
.container_row{
    display: grid;
}
  
.circle-1, .circle-2, .circle-3{
    grid-column: 1;
    grid-row: 1;
}
    
@keyframes rotate {
    0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
  